<template name="footer">
<footer class="page-footer">
<div class="container">
	<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">Start Burning</h5>
			<p class="grey-text text-lighten-4">we believe burning rate matters.</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">BananaPlan</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">site map</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">jobs</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">links</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">blogs</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		© 2014 Copyright Text
		<a class="grey-text text-lighten-4 right" href="#!">much more links</a>
	</div>
</div>
</footer>
</template>